body{
  /*background-image: url("bg.png");*/
  background-color: #fdffcb;
  font-size: 98.5%; /* base size is 14px*/
  font-family: Arial, "Lucida Sans Unicode";
  line-height: 1.5;
  text-align: left;
  
}

a {text-decoration: none;}

a:link, a:visited {
  color: #7b7f00; 
}

a:hover, a:active {
  background-color: #7b7f00;
  color: #FFF;
}

a:active { font-style:italic; }


.body{
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainHeader img{
 width: 10%;
 height: auto;
 margin: 2% 0;
}

.mainHeader nav{
 background-color: #a0a61b; 
 /*float: left;*/
 height: 40px;
 width: 100%;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px; 
}

.mainHeader nav ul{
 list-style:  none;
  margin: 0 auto;
}

.mainHeader nav ul li{
 float: left;
 display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
 color: #FFF;
 display: inline-block;
 padding: 10px 25px;
 height: 10px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
 background-color: #7b7f00;
 text-shadow: none;
 height: 20px;
 border-radius: 5px;
 /*height: 10px;*/
}

.mainHeader nav ul li a{
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}


ul.a {
  list-style-type:circle;  
  font-size: 14px; /* base size is 14px*/  
}


.mainContent {
 line-height: 25px;
  border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 text-align:justify;
 text-justify:inter-word;
 /*overflow: hidden;*/ /* if 2 containers overlap*/
}

.content{
   width: 70%; 
  /*background-color: #344;*/
  float: left;
  color: #7b7f00;
}

.topContent{
  background-color: #FFF;
  color: #7b7f00;
  border: 1px solid #999;
  border: inset 1px solid #333; 
  
  /* width: 90%; */
  border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px; 
  padding: 3% 5%;
  margin-top: 1%;
}

.bottomContent{
background-color: #FFF;

  border: 1px solid #999;
  border: inset 1px solid #333;
   width: 131.5%; 

  border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px; 
  padding: 3% 5%;
  margin-top: 2%;
}

.top-sidebar{
background-color: #FFF; 

  border: 1px solid #999;
  border: inset 1px solid #333;
 
width: 20%;
float: left;
border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
    padding: 2% 3%;
}

.middle-sidebar{
background-color: #FFF; 


  border: 1px solid #999;
  border: inset 1px solid #333;
  
width: 20%;
float: left;
border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
    padding: 2% 3%;
}

.bottom-sidebar{
background-color: #FFF; 


  border: 1px solid #999;
  border: inset 1px solid #333;
  
width: 20%;
float: left;
border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
    padding: 2% 3%;
}


.mainFooter{
width: 100%;
/* height: 40px; */
background-color: #a0a61b; 
float: left;
border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
margin-top: 1%;


}

.mainFooter p{
width: 92%;
  text-align: center;
margin: 10px auto;
color: #FFF;
}


form    {
 /* background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE)); */
/* background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px); */
margin:auto;
position:relative;
width:100%;
height:50%;
/*
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;

-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
*/
}

input    {
color: #7b7f00;
background-color: #fdffcb; 
width:60%;
display:block;
border: solid 1px #7b7f00;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea#sparql {


width:80%;
height:250px;


color: #7b7f00;
background-color: #fdffcb; 
 width:80%;
 height: 300px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 1px #7b7f00;

}



/*
textarea.message {
display:block;
}
*/

textarea:focus, input:focus {
border: 1px solid #09C;
}


input.submit {
width:100px;
position:absolute;
right:20px;
bottom:20px;
background:#09C;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1p solid #7b7f00;
}
input.submit:hover {
background:#fff;
color:#09C;
}

